<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
  <title>SPEC</title>
  <meta name="description" content="SPEC Web Interface">
  <meta name="author" content="CSE Group 6">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#start_button").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/startmotion",
                data: {},
                success:function(result){
          $("#start_button").html(result);
        }});
      });
    });

    $(document).ready(function(){
      $("#left_rotate").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/left",
                data: {},
                success:function(result){
          $("#left_rotate").html(result);
        }});
      });
    });

    $(document).ready(function(){
      $("#center_camera").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/center",
                data: {},
                success:function(result){
          $("#center_camera").html(result);
        }});
      });
    });

    $(document).ready(function(){
      $("#right_rotate").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/right",
                data: {},
                success:function(result){
          $("#right_rotate").html(result);
        }});
      });
    });

    $(document).ready(function(){
      $("#start_live").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/startlive",
                data: {},
                success:function(result){
          $("#start_live").html(result);
        }});
      });
    });

    $(document).ready(function(){
      $("#stop_live").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/stoplive",
                data: {},
                success:function(result){
          $("#stop_live").html(result);
        }});
      });
    });
    
    $(document).ready(function(){
      $("#stop_button").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/stopmotion",
                data: {},
                success:function(result){
          $("#stop_button").html(result);
        }});
      });

      (function worker() {
         $.ajax({
           url: '/status', 
           success: function(data) {
             $('#status_bar').html(data);
           },
           complete: function() {
             // Schedule the next request when the current one's complete
             setTimeout(worker, 10000);
           }
         });
      })();
    });

    $(document).ready(function(){
      $("#live_view").click(function(){
        $("#item").toggle();
      });
    });
    </script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="js/scripts.js"></script>
  <h1>SPEC WEB INTERFACE</h1>
  <span id="status_bar"></span>
  </br>
  </br>
  </br>
  <h2>Motion Alerts</h2>
  <button id="start_button">Enable Motion Alerts</button>
  <button id="stop_button">Stop Motion Alerts</button>
  </br>
  </br>
  </br>
  <h2>Live View</h2>
  <button id="start_live">Enable Live View</button>
  <button id="live_view">Show/Hide Live View</button>
  <button id="stop_live">Stop Live View</button>
  <div id="item" hidden>
  <img src="http://raspberrypi.local:8080/?action=stream">
  </div>
  </br>
  </br>
  </br>
  <h2>Camera Rotation</h2>
  <button id="left_rotate">Left Rotate</button>
  <button id="center_camera">Center Camera</button>
  <button id="right_rotate">Right Rotate</button>


  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</body>
</html>
